server {
    #Listen to localhost on port ${HTTP_PORT}
    listen ${REACT_APP_CONTAINER_NAME}:${HTTP_PORT};

    #Run index.html of the build directory when localhost:${HTTP_PORT} is called
    location / {
        root /build;
        index index.html;
    }

    #Logs
    access_log  /logs/nginx/access.log;
    error_log   /logs/nginx/error.log;
}
